.dark-text {
    color: #050038;
}

.light-text {
    color: #050038B8;
}

.pointer {
    cursor: pointer;
}

.image-background {
    background-color: #ffd02f;
}

.footer-links {
    color: #ffffff;
    text-decoration: none;
}