body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.bt {
  border-radius: 40px;
  padding: 17px 22.77px 17px 22px;
  font-family: Helvetica;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.bt.primary-btn {
  background-color: #4262ff;
  color: #ffffff;
}

.content-alignment {
  justify-content: center;
  align-items: center;
}

.dark-text {
  color: #050038;
}

.light-text {
  color: rgba(5, 0, 56, 0.7215686275);
}

.pointer {
  cursor: pointer;
}

.image-background {
  background-color: #ffd02f;
}

.footer-links {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

section {
  margin: 0 auto;
  max-width: auto;
  width: 100%;
}

.section-container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.padding {
  padding: 60px 0;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #F0F0F0;
  display: flex;
  justify-content: space-between;
  height: 90px;
  padding: 0 24px 0 30px;
  align-items: center;
}
.header .logo {
  margin-bottom: 12px;
}
.header .hd {
  padding-left: 24px;
}
.header .hd .left-link {
  color: #050038;
  text-decoration: none;
}
.header .drop-down-arrow {
  margin-left: 13.19px;
  display: flex;
  align-items: flex-end;
}
.header .hf-1 {
  padding-left: 8px;
}
.header .hf-1 .right-link {
  color: #050038;
  text-decoration: none;
}
.header .hf {
  padding-left: 16px;
}
.header .hf .right-link {
  color: #050038;
  text-decoration: none;
}
.header .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.header .sidebar .right-link {
  color: #050038;
  text-decoration: none;
  padding-top: 16px;
  padding-left: 10px;
}
.header .sidebar .direction {
  flex-direction: row;
}
@media (max-width: 1130px) {
  .header .hideOnTab {
    display: none;
  }
}
@media (max-width: 587px) {
  .header .hideonmobile {
    display: none;
  }
}
@media (max-width: 600px) {
  .header .sidebar {
    width: 100%;
  }
}
@media (min-width: 1130px) {
  .header .hideOnComputer {
    display: none;
  }
}
@media (max-width: 1130px) {
  .header .shiftButton {
    margin-left: 19px;
  }
}
@media (max-width: 630px) {
  .header .shifttitle {
    margin-right: 15px;
  }
}
.header .il {
  display: inline;
}
.header .il.left-links-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .il.right-links-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
}
.header .lh {
  size: 10px;
}
.header .bt {
  border-radius: 40px;
  padding: 17px 22.77px 17px 22px;
  font-family: Helvetica;
  height: 50px;
  width: 100%;
  white-space: nowrap;
}

.dsn {
  border: 1px black;
  display: flex;
  margin-top: 60px;
}
.dsn .left-border {
  border: 1px black;
  margin-left: 40px;
  width: 440px;
  height: 469px;
  margin-right: 40px;
}
.dsn .left-border h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 56px;
  border: 1px black;
  margin-right: 63.35px;
}
.dsn .int {
  border: 1px solid #9B99Af;
  border-radius: 32px;
  width: 100%;
  height: 48px;
  padding: 12px 25px;
  font-size: 18px;
  margin-bottom: 10px;
}
.dsn .bt {
  background-color: #4262ff;
  color: #ffffff;
  border-radius: 32px;
  font-family: Helvetica;
  width: 100%;
  height: 51px;
}
.dsn .line {
  border: 1px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-right: 11.91px;
  margin-top: 16px;
}
.dsn .button-border {
  border: 1px black;
  margin-top: 32px;
}
.dsn .right-img {
  border: 1px black;
  width: 100%;
}
.dsn .right-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dsn .lne {
  margin: 7px 180px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(5, 0, 56, 0.4941176471);
  border: 1px black;
  width: 260px;
  height: 20px;
}
.dsn .rate {
  border: 1px black;
  margin: 41px 90px 24px 0px;
}
.dsn .ration-card {
  border: 1px solid #ccc;
  border-style: none;
  padding: 14px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f5f5f7;
  font-family: Arial, sans-serif;
  display: flex;
  border-radius: 8px;
}
.dsn .rating {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 137px;
  width: 100%;
  height: 32px;
}
.dsn .stars {
  width: 137px;
  height: 15px;
}
.dsn .review-count {
  font-size: 11px;
  line-height: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #050038;
  max-width: 124px;
  width: 100%;
  height: 15px;
  margin-top: 4px;
}
.dsn .logos {
  display: flex;
  max-width: 185.36px;
  width: 100%;
  height: 32px;
}
.dsn .logos svg {
  display: flex;
  height: 32px;
  margin-left: 14.33px;
}

.trusted-users-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 116px;
}
.trusted-users-logos .trusted-user {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(5, 0, 56, 0.6274509804);
  line-height: 24px;
  font-size: 18px;
}
.trusted-users-logos .logos-border {
  border: 1px black;
  margin-top: 48px;
  max-width: 1120px;
  width: 100%;
}
.trusted-users-logos .logos {
  display: flex;
  justify-content: space-between;
  height: 92px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.trusted-users-logos .logos img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-for-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 28px;
  text-align: center;
  max-height: 168px;
  height: 100%;
  overflow: visible;
}
.header-for-cards h1 {
  display: flex;
  align-items: flex-end;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 56px;
  letter-spacing: -1px;
  margin-top: 27px;
  max-width: 448px;
  width: 100%;
  height: 168px;
  position: relative;
}
.header-for-cards h1 .stiker-text {
  position: absolute;
  font-size: 8px;
  background: #ffd02f;
  height: -moz-fit-content;
  height: fit-content;
  line-height: normal;
  padding: 4px 6px 4px 6px;
  border-radius: 8px;
  font-weight: bolder;
  top: 18px;
  right: -37px;
  transform: rotate(11deg);
  letter-spacing: 0.2px;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
@media (max-width: 1080px) {
  .cards.card {
    justify-content: center;
  }
}
.cards .first-card {
  display: flex;
  flex-direction: column;
  max-width: 359.95px;
  width: 100%;
  padding: 23px 22px 44px 24px;
}
.cards .first-card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 137px;
  width: 100%;
}
.cards .first-card-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 313.56px;
  width: 100%;
  color: rgba(5, 0, 56, 0.6274509804);
  margin-top: 29px;
}
.cards .first-card-content span:hover {
  cursor: pointer;
}
.cards .second-card {
  display: flex;
  flex-direction: column;
  max-width: 359.95px;
  width: 100%;
  padding: 23px 35px 44px 24px;
}
.cards .second-card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 197px;
  width: 100%;
}
.cards .second-card-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 301.4px;
  width: 100%;
  color: rgba(5, 0, 56, 0.6274509804);
  margin-top: 29px;
}
.cards .second-card-content span:hover {
  cursor: pointer;
}
.cards .third-card {
  display: flex;
  flex-direction: column;
  max-width: 359.95px;
  width: 100%;
  padding: 23px 26px 44px 24px;
}
.cards .third-card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.5px;
  max-width: 147px;
  width: 100%;
}
.cards .third-card-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 310.42px;
  width: 100%;
  color: rgba(5, 0, 56, 0.6274509804);
  margin-top: 29px;
}
.cards .third-card-content span:hover {
  cursor: pointer;
}

.center-button {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
.center-button button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: #4262ff;
  color: #ffffff;
}

.work-together {
  max-width: 550px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-together div {
  max-width: 550px;
  width: 100%;
}
.work-together h1 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 56px;
  letter-spacing: -1px;
  font-size: 48px;
  font-weight: bold;
  max-width: 440.7px;
  width: 100%;
}
.work-together .work-together-content {
  border: 1px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 453.72px;
  width: 100%;
  margin-top: 16px;
  color: rgba(5, 0, 56, 0.6274509804);
}
.work-together .link {
  display: flex;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.work-together .underline-text-link {
  border-bottom: 2px solid #4262ff;
  max-width: 104.52px;
  margin-right: 5px;
  font-size: 18px;
  line-height: 24px;
}

.work-together-image {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}
.work-together-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tools-image {
  margin-left: 10px;
  margin-right: 114.95px;
}
.tools-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tools {
  max-width: 465.05px;
  width: 100%;
  margin: 76.81px 0px 76.81px 0px;
}
.tools h1 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 56px;
  letter-spacing: -1px;
  font-size: 48px;
  font-weight: bold;
  max-width: 355px;
  width: 100%;
  margin: 0px 110.05px 28px 0px;
}
.tools .tools-content {
  border: 1px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 458.93px;
  width: 100%;
  color: rgba(5, 0, 56, 0.6274509804);
}
.tools .link {
  display: flex;
  margin-top: 52px;
  font-family: Arial, Helvetica, sans-serif;
}
.tools .underline-text-link {
  border-bottom: 2px solid #4262ff;
  max-width: 104.52px;
  margin-right: 5px;
  font-size: 18px;
  line-height: 24px;
}

.container-1 {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  position: relative;
}
.container-1 img {
  width: 100%;
}
.container-1 .ways-we-work-content {
  position: absolute;
  /* left: 738px; */
  right: 0px;
  /* max-width: 550px; */
  width: 50%;
  max-height: 215px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.container-1 .ways-we-work-content h1 {
  display: flex;
  max-width: 107px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 38px;
  letter-spacing: -0.5px;
  font-size: 22px;
  font-weight: bold;
  margin: 62px 0px 0px -130px;
}
.container-1 .ways-we-work-content .tag-line-content {
  max-width: 363px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #050038;
  margin: -10px 0px 20px -130px;
}
.container-1 .ways-we-work-content button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  border-radius: 40px;
  background-color: #4252ff;
  color: #ffffff;
  height: 40px;
  white-space: nowrap;
  margin-left: -130px;
}

.built-for-work {
  border: 1px black;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1120px;
  width: 100%;
  margin-bottom: 120px;
}
.built-for-work h1 {
  padding-top: 30px;
  padding-left: 30px;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
}
.built-for-work .tabs {
  border: 1px black;
  margin: 32px 30px 26px 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1060px;
  width: 100%;
}
.built-for-work .tabs div {
  border: 1.5px solid #f2f2f2;
  border-radius: 24px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding: 12px 28px 14px 17px;
}
.built-for-work .tabs .tab-bg-color {
  background-color: #f1f3fd;
}
.built-for-work .tabs .tabs-information:hover {
  background-color: #f1f3fd;
}
.built-for-work .tabs .tabs-information:active {
  background-color: #f1f3fd;
}
.built-for-work .tabs-content {
  max-width: 1060px;
  width: 100%;
  margin: 0px 30px 30px 30px;
}
.built-for-work .tabs-content .left-border {
  border: 1px black;
  max-width: 360px;
  width: 100%;
}
.built-for-work .tabs-content .left-border .heading {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin: 31px 218px 0px 16px;
}
.built-for-work .tabs-content .left-border .line {
  border: 1px black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 26px 0px 0px 16px;
  max-width: 303px;
  width: 100%;
}
.built-for-work .tabs-content .left-border .link {
  display: flex;
  margin: 35px 0px 0px 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.built-for-work .tabs-content .tabs-image {
  margin: 0px;
}
.built-for-work .tabs-content .tabs-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.built-for-teams {
  border: 1px black;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1120px;
  width: 100%;
  margin-bottom: 60px;
}
.built-for-teams h1 {
  padding-top: 30px;
  padding-left: 30px;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
}
.built-for-teams .tabs {
  border: 1px black;
  margin: 32px 30px 26px 30px;
  flex-wrap: wrap;
  max-width: 1060px;
  width: 100%;
}
.built-for-teams .tabs div {
  border: 1.5px solid #f2f2f2;
  border-radius: 24px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  padding: 12px 28px 14px 17px;
}
.built-for-teams .tabs .margin {
  margin-left: 8px;
}
.built-for-teams .tabs .tab-bg-color {
  background-color: #f1f3fd;
}
.built-for-teams .tabs .tabs-information:hover {
  background-color: #f1f3fd;
}
.built-for-teams .tabs .tabs-information:active {
  background-color: #f1f3fd;
}
.built-for-teams .tabs-content {
  max-width: 1060px;
  width: 100%;
  margin: 0px 30px 30px 30px;
}
.built-for-teams .tabs-content .left-border {
  border: 1px black;
  max-width: 360px;
  width: 100%;
}
.built-for-teams .tabs-content .left-border .left-border-content .left-content-1 {
  align-items: center;
  margin: 29px 40px 0px 12px;
}
.built-for-teams .tabs-content .left-border .left-border-content .left-content-2 {
  align-items: center;
  margin: 16px 40px 0px 13px;
}
.built-for-teams .tabs-content .left-border .left-border-content .left-content-3 {
  align-items: center;
  margin: 16px 40px 0px 13px;
}
.built-for-teams .tabs-content .left-border .left-border-content .check {
  height: 9px;
  width: 5px;
  border-bottom: 2px solid #020016;
  border-right: 2px solid #020016;
  transform: rotate(45deg);
  margin: 10px;
}
.built-for-teams .tabs-content .left-border .left-border-content .content-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: 1px black;
  max-width: 181px;
  width: 100%;
  margin-left: 14px;
}
.built-for-teams .tabs-content .left-border .left-border-content .content-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: 1px black;
  max-width: 250.73px;
  width: 100%;
  margin-left: 14px;
}
.built-for-teams .tabs-content .left-border .left-border-content .content-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: 1px black;
  max-width: 196.56px;
  width: 100%;
  margin-left: 14px;
}
.built-for-teams .tabs-content .left-border .link {
  display: flex;
  margin: 34px 0px 0px 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.built-for-teams .tabs-content .left-border .tools-content-and-links {
  border: 1px black;
  max-width: 304px;
  width: 100%;
  margin: 70px 40px 125.62px 3px;
}
.built-for-teams .tabs-content .left-border .tools-content-and-links .tools-brief {
  line-height: 24px;
  letter-spacing: -0.25px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.built-for-teams .tabs-content .left-border .tools-content-and-links .tools-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px black;
  margin: 13.61px 20px 0px 0px;
}
.built-for-teams .tabs-content .left-border .tools-content-and-links .tools-links .xd-link {
  max-width: 26.28px;
  width: 100%;
  max-height: 25.62px;
  height: 100%;
  background-color: #470137;
  color: #ff61f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}
.built-for-teams .tabs-content .left-border .tools-content-and-links .tools-links .margin-left {
  margin-left: 30px;
}
.built-for-teams .tabs-content .tabs-image {
  margin: 0px;
}
.built-for-teams .tabs-content .tabs-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.miro-trust {
  padding: 60px 0px 60px 0px;
}
.miro-trust .reviews {
  max-width: 100%;
  background-color: #ffd02f;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .reviews-content {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  padding-top: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .reviews-content .miro-trust-line {
  max-width: 1120px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.miro-trust .reviews .reviews-content .miro-trust-line h1 {
  max-width: 498px;
  width: 100%;
  line-height: 56px;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  margin: 0;
}
.miro-trust .reviews .reviews-content .miro-trust-line span {
  max-width: 298.97px;
  width: 100%;
  line-height: 24px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 17px;
  border-bottom: 1px solid #050038;
}
.miro-trust .reviews .ratings {
  border: 1px black;
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  margin-top: 40px;
  margin-bottom: 120px;
}
.miro-trust .reviews .ratings .rating-box {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .miro-trust .reviews .ratings .rating-box.first-rating-box {
    width: 50%;
    margin-bottom: 88px;
  }
}
.miro-trust .reviews .ratings .rating-box .first-rating-box {
  max-width: 359.95px;
  width: 33%;
  margin-bottom: 64px;
  margin-top: 0;
}
.miro-trust .reviews .ratings .rating-box .first-rating-box .first-rating {
  border: 1px black;
  padding: 94.54px 0px 12.36px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .ratings .rating-box .first-rating-box .first-rating-content {
  border: 1px black;
  margin-top: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #050038;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .miro-trust .reviews .ratings .rating-box.second-box {
    width: 50%;
  }
}
.miro-trust .reviews .ratings .rating-box .second-rating-box {
  max-width: 359.95px;
  width: 33%;
  margin-bottom: 88px;
  margin-top: 0;
}
.miro-trust .reviews .ratings .rating-box .second-rating-box .second-rating {
  border: 1px black;
  padding: 95.18px 0px 13px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .ratings .rating-box .second-rating-box .second-rating-content {
  border: 1px black;
  margin-top: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #050038;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .miro-trust .reviews .ratings .rating-box.third-box {
    width: 50%;
  }
}
.miro-trust .reviews .ratings .rating-box .third-rating-box {
  max-width: 359.95px;
  width: 33%;
  margin-bottom: 88px;
  margin-top: 0;
}
.miro-trust .reviews .ratings .rating-box .third-rating-box .third-rating {
  border: 1px black;
  padding: 94.54px 0px 12.36px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .ratings .rating-box .third-rating-box .third-rating-content {
  border: 1px black;
  margin-top: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #050038;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .miro-trust .reviews .ratings .rating-box.fourth-box {
    width: 50%;
    margin-bottom: 88px;
  }
}
.miro-trust .reviews .ratings .rating-box .fourth-rating-box {
  max-width: 359.95px;
  width: 33%;
  margin-bottom: 0;
}
.miro-trust .reviews .ratings .rating-box .fourth-rating-box .fourth-rating {
  border: 1px black;
  padding: 95.01px 0px 5.67px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .ratings .rating-box .fourth-rating-box .fourth-rating-content {
  border: 1px black;
  margin-top: 23.97px;
  line-height: 24px;
  font-size: 18px;
  color: #050038;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .miro-trust .reviews .ratings .rating-box.fifth-box {
    width: 50%;
  }
}
.miro-trust .reviews .ratings .rating-box .fifth-rating-box {
  max-width: 359.95px;
  width: 33%;
  margin-bottom: 0;
}
.miro-trust .reviews .ratings .rating-box .fifth-rating-box .fifth-rating {
  border: 1px black;
  padding: 95.18px 0 13.36px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .ratings .rating-box .fifth-rating-box .fifth-rating-content {
  border: 1px black;
  margin-top: 23.97px;
  line-height: 24px;
  font-size: 18px;
  color: #050038;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .miro-trust .reviews .ratings .rating-box.sixth-box {
    width: 50%;
  }
}
.miro-trust .reviews .ratings .rating-box .sixth-rating-box {
  max-width: 359.95px;
  width: 33%;
  margin-bottom: 0;
}
.miro-trust .reviews .ratings .rating-box .sixth-rating-box .sixth-rating {
  border: 1px black;
  padding: 94.54px 0 12.36px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.miro-trust .reviews .ratings .rating-box .sixth-rating-box .sixth-rating-content {
  border: 1px black;
  margin-top: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #050038;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviews {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
}
.reviews h1 {
  max-width: 724px;
  width: 100%;
  line-height: 56px;
  letter-spacing: -1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 24px;
}
.reviews button {
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: #ffffff;
  border-color: #4262ff;
  color: #4262ff;
  padding: 0 31.69px 0 35px;
  line-height: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 40px;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.reviews button:hover {
  cursor: pointer;
}
.reviews .reviews-content {
  min-height: 460px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1096px) {
  .reviews .reviews-content {
    justify-content: center;
  }
}
.reviews .first-review-content {
  max-width: 359.95px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.reviews .first-review-content .first-review-title {
  margin-top: 36px;
}
.reviews .first-review-content .first-review-title img {
  border: transparent 1px solid;
  box-shadow: 7px 3px 20px 5px rgba(188, 181, 181, 0.1294117647);
}
.reviews .first-review-content .first-review-text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 18px;
  max-width: 291.68px;
  width: 100%;
  margin-top: 36.38px;
  margin-bottom: 48.92px;
}
.reviews .first-review-content .first-reviewer {
  max-width: 288px;
  width: 100%;
  margin-bottom: 36px;
  justify-content: center;
  align-items: center;
}
.reviews .first-review-content .first-reviewer .first-reviewer-details {
  max-width: 207.7px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 16.25px 0px 16px;
}
.reviews .second-review-content {
  max-width: 359.95px;
  width: 100%;
  /* margin: 0px 20px; */
  flex-direction: column;
  align-items: center;
}
.reviews .second-review-content .second-review-title {
  margin-top: 36px;
  /* align-items: flex-start; */
}
.reviews .second-review-content .second-review-text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 18px;
  max-width: 281.17px;
  width: 100%;
  margin-top: 22.3px;
  margin-bottom: 135px;
}
.reviews .second-review-content .second-reviewer {
  margin-bottom: 36px;
}
.reviews .second-review-content .second-reviewer .second-reviewer-details {
  max-width: 207.7px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 24.81px 0px 16px;
}
.reviews .third-review-content {
  max-width: 359.95px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.reviews .third-review-content .third-review-title {
  margin-top: 36px;
}
.reviews .third-review-content .third-review-title img {
  border: transparent 1px solid;
  box-shadow: 7px 3px 20px 5px rgba(188, 181, 181, 0.1294117647);
}
.reviews .third-review-content .third-review-text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 18px;
  max-width: 283.08px;
  width: 100%;
  margin-top: 34.3px;
  margin-bottom: 112px;
}
.reviews .third-review-content .third-reviewer {
  margin-bottom: 36px;
}
.reviews .third-review-content .third-reviewer .third-reviewer-details {
  max-width: 207.7px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
}

.joining-link {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background-color: #050038;
  padding: 120px 0px;
  margin-bottom: 120px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}
.joining-link .joining-link-content {
  max-width: 1080px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.joining-link .joining-link-content h1 {
  line-height: 56px;
  letter-spacing: -1px;
  font-size: 48px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-bottom: 4px;
}
.joining-link .joining-link-content .link-lines {
  max-width: 385.98px;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.59);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
}
.joining-link .joining-link-content .link-lines .first-line {
  margin-bottom: 12px;
}
.joining-link .joining-link-content .link-lines .second-line {
  border: 1px rgba(255, 255, 255, 0.59);
  border-bottom: 1px solid rgba(255, 255, 255, 0.59);
}
.joining-link .joining-link-content .link-lines .second-line:hover {
  cursor: pointer;
}
.joining-link .joining-link-content button {
  background-color: #4262ff;
  color: #ffffff;
  white-space: nowrap;
}

.footer {
  background-color: #050038;
  padding: 40px 20px 40px 20px;
}
.footer .lists {
  max-width: 100%;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .lists .first-list {
  max-width: 272px;
  width: 100%;
}
.footer .lists .first-list span {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 192px 0px 10px;
}
.footer .lists .first-list .first-list-links {
  margin: 24px 10px 20px 10px;
  font-size: 16px;
  line-height: 24px;
}
.footer .lists .first-list .first-list-links .product-links {
  max-width: 252px;
}
.footer .lists .first-list .first-list-links .product-links .first-product-link {
  margin: 0px 114px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .second-product-link {
  margin: 0px 103px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .third-product-link {
  margin: 0px 173px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .fourth-product-link {
  margin: 0px 177px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .fifth-product-link {
  margin: 0px 69px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .sixth-product-link {
  margin: 0px 128px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .seventh-product-link {
  margin: 0px 81px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .eighth-product-link {
  margin: 0px 157px 7px 0px;
}
.footer .lists .first-list .first-list-links .product-links .ninth-product-link {
  margin: 0px 170px 1px 0px;
}
.footer .lists .first-list .first-list-links .demo-product-link {
  margin: 18px 143.39px 0px 0px;
}
.footer .lists .first-list .first-list-links .demo-product-link u {
  cursor: pointer;
}
.footer .lists .second-list {
  max-width: 272px;
  width: 100%;
}
.footer .lists .second-list span {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 178px 0px 10px;
}
.footer .lists .second-list .second-list-links {
  margin: 24px 10px 0px 10px;
  font-size: 16px;
  line-height: 24px;
}
.footer .lists .second-list .second-list-links .solutions-links {
  max-width: 252px;
}
.footer .lists .second-list .second-list-links .solutions-links .first-solution-link {
  margin: 0px 60px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .second-solution-link {
  margin: 0px 66px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .third-solution-link {
  margin: 0px 131px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .fourth-solution-link {
  margin: 0px 152px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .fifth-solution-link {
  margin: 0px 110px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .sixth-solution-link {
  margin: 0px 103px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .seventh-solution-link {
  margin: 0px 177px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .eighth-solution-link {
  margin: 0px 150px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .ninth-solution-link {
  margin: 0px 103px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .tenth-solution-link {
  margin: 0px 177px 7px 0px;
}
.footer .lists .second-list .second-list-links .solutions-links .eleventh-solution-link {
  margin: 0px 160px 1px 0px;
}
.footer .lists .third-list {
  max-width: 272px;
  width: 100%;
}
.footer .lists .third-list span {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 174px 0px 10px;
}
.footer .lists .third-list .third-list-links {
  margin: 24px 10px 93px 10px;
  font-size: 16px;
  line-height: 24px;
}
.footer .lists .third-list .third-list-links .resources-links {
  max-width: 252px;
}
.footer .lists .third-list .third-list-links .resources-links .first-resource-link {
  margin: 0px 143px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .second-resource-link {
  margin: 0px 161px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .third-resource-link {
  margin: 0px 218px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .fourth-resource-link {
  margin: 0px 203px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .fifth-resource-link {
  margin: 0px 128px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .sixth-resource-link {
  margin: 0px 53px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .seventh-resource-link {
  margin: 0px 82px 7px 0px;
}
.footer .lists .third-list .third-list-links .resources-links .eighth-resource-link {
  margin: 0px 163px 1px 0px;
}
.footer .lists .fourth-list {
  max-width: 272px;
  width: 100%;
}
.footer .lists .fourth-list span {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 182px 0px 10px;
}
.footer .lists .fourth-list .fourth-list-links {
  margin: 24px 10px 217px 10px;
  font-size: 16px;
  line-height: 24px;
}
.footer .lists .fourth-list .fourth-list-links .company-links {
  max-width: 252px;
}
.footer .lists .fourth-list .fourth-list-links .company-links .first-company-link {
  margin: 0px 184px 7px 0px;
}
.footer .lists .fourth-list .fourth-list-links .company-links .second-company-link {
  margin: 0px 168px 7px 0px;
}
.footer .lists .fourth-list .fourth-list-links .company-links .third-company-link {
  margin: 0px 124px 7px 0px;
}
.footer .lists .fourth-list .fourth-list-links .company-links .fourth-company-link {
  margin: 0px 120px 7px 0px;
}
.footer .lists .fifth-list {
  max-width: 272px;
  width: 100%;
}
.footer .lists .fifth-list span {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 110px 0px 10px;
}
.footer .lists .fifth-list .fifth-list-links {
  margin: 24px 10px 20px 10px;
  font-size: 16px;
  line-height: 24px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links {
  max-width: 252px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .first-plan-link {
  margin: 0px 200px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .second-plan-link {
  margin: 0px 184px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .third-plan-link {
  margin: 0px 174px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .fourth-plan-link {
  margin: 0px 161px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .fifth-plan-link {
  margin: 0px 176px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .sixth-plan-link {
  margin: 0px 187px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .plans-links .seventh-plan-link {
  margin: 0px 209px 7px 0px;
}
.footer .lists .fifth-list .fifth-list-links .contact-sales-link {
  margin: 18px 117.84px 0px 0px;
}
.footer .lists .fifth-list .fifth-list-links .contact-sales-link u {
  cursor: pointer;
}
.footer .policy-and-links-outer-border {
  margin: 0px 10px;
  padding-top: 41px;
  border-top: 1px solid #9b99af;
  flex-wrap: wrap;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border {
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies {
  max-width: 875.19px;
  width: 100%;
  color: white;
  flex-wrap: wrap;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies ul {
  max-width: 216px;
  padding-left: 0px;
  margin: 30px 24px 26px 0px;
  align-items: center;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies ul li {
  list-style: none;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies ul li a {
  font-size: 24px;
  color: white;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies ul li.margin {
  margin-left: 24px;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies {
  max-width: 635.19px;
  width: 100%;
  margin: 28.5px 0px 28.5px 0px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .globe {
  justify-content: space-between;
  max-width: 58.08px;
  width: 100%;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .globe:hover {
  cursor: pointer;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .globe .language {
  line-height: 24px;
  font-size: 18px;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .policy-terms-cookies {
  max-width: 553.11px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .policy-terms-cookies .copyright {
  font-size: 15px;
  line-height: 24px;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .policy-terms-cookies .copyright:hover {
  cursor: pointer;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .policy-terms-cookies .footer-links {
  font-size: 16px;
  line-height: 24px;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .social-media-and-cookies .terms-and-cookies .policy-terms-cookies .footer-links:hover {
  cursor: pointer;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .stors {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #050038;
  align-items: center;
  max-width: 355px;
  width: 100%;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .stors img {
  border-color: #050038;
  border-radius: 8px;
}
.footer .policy-and-links-outer-border .policy-and-links-inner-border .stors img:hover {
  cursor: pointer;
}

.red-text {
  color: red;
}

.blue-text {
  color: #4262ff;
}/*# sourceMappingURL=main.css.map */